@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.container {
  min-width: 300px;
}

/* Nav */
.nav {
  position: relative;
  width: 100%;
  background-color: rgba(255, 204, 193, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 5px;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 40px;
}

.titleText {
  font-family: "Lobster", cursive;
  color: #ffff00;
  text-shadow: 2px 2px 5px rgb(51, 51, 255);
  letter-spacing: 3px;
}

.imageIcon {
  color: #0080ff;
}

/* Alert */
.alert {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  position: absolute;
  padding: 3px 5px;
  border-radius: 5px;
  transform: translateX(-50%);
  left: 50%;
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0s;
}

.success {
  bottom: -50%;
  color: #00008b;
  background-color: #66ffb2;
  border: 2px solid #006400;
  box-shadow: 1px 1px 10px #00ff7f;
}

.error {
  bottom: -10%;
  color: #f33;
  background-color: #fc9;
  border: 2px solid #b22222;
  box-shadow: 1px 1px 10px #ff4500;
}

.alert.show {
  opacity: 1;
  transform: translateX(-50%) translateY(100%);
}

/* Container for all signed in contents */
.signedContainer {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 20px;
}

/* User Container */
.userContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.emailContainer {
  font-family: "Poppins", sans-serif;
  color: #ffcc99;
  letter-spacing: 1px;
  font-size: 20px;
}

.email {
  letter-spacing: 2px;
  font-weight: bold;
  color: #6600cc;
  border-radius: 5px;
  padding: 0px 5px;
  background-color: rgba(102, 255, 178, 0.8);
  box-shadow: 1px 1px 10px rgb(255, 255, 153);
}

.btns {
  display: flex;
  gap: 15px;
}

/* Btn */
.btn {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #4c0099;
  padding: 3px 7px;
  font-size: 16px;
  background-color: rgba(102, 255, 255, 0.5);
  border-radius: 3px;
  border: 2px solid #ffcc99;
}

.btn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 153, 0.5);
}

.btn:active {
  transform: scale(0.9);
}

.link {
  color: #4c0099;
  text-decoration: none;
}

/* Form */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 2px 15px;
  max-width: 300px;
  width: 100%;
  min-width: 120px;
  min-height: 140px;
  border: 3px solid #ffcc99;
  border-radius: 3px;
  background-color: rgba(255, 178, 102, 0.3);
  box-shadow: 1px 1px 20px rgba(255, 255, 51, 0.7);
}

.uploadInput {
  color: greenyellow;
}
.uploadInput:hover {
  cursor: pointer;
}

.unsignedContainer {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.logInBtn {
  margin-top: 50px;
  margin-bottom: 30px;
}

.noAccount {
  font-size: 18px;
  color: #66ffb2;
}

.signUpLink {
  color: #9ff;
}

.signUpLink:hover {
  color: #33ffff;
}

.uploadForm {
  position: relative;
  margin: 50px 0 30px;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.spinner {
  position: absolute;
  top: 15%;
  color: rgba(0, 0, 128, 0.5);
  font-size: 7rem;
  animation: spin infinite 5s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Image */
.imgContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 500px;
}

.imgCard {
  margin: 10px;
  background-color: #ccffff;
  border: 1px solid #ff9933;
  box-shadow: 1px 1px 15px rgba(102, 178, 255, 0.9);
}

.images {
  max-width: 100%;
  object-fit: contain;
  height: auto;
  border-bottom: 2px dotted #000099;
}

.fileNameContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 2px 15px 5px;
  justify-content: space-between;
  align-items: center;
}

.binIcon {
  font-size: 18px;
  color: #ff3333;
  border-radius: 50%;
  box-shadow: 1px 1px 10px #93f;
}

.binIcon:hover {
  cursor: pointer;
}

.binIcon:active {
  transform: scale(0.9);
}
