@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.container {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 70px 100px;
  position: relative;
}

.title {
  color: #ffff00;
  letter-spacing: 3px;
  font-size: 40px;
  text-shadow: 2px 2px 5px rgb(51, 51, 255);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 10px 15px;
  max-width: 500px;
  width: 100%;
  min-width: 150px;
  border: 3px solid #ffcc99;
  border-radius: 3px;
  background-color: rgba(255, 178, 102, 0.3);
  box-shadow: 1px 1px 20px rgba(255, 255, 51, 0.7);
}

.profile {
  align-items: stretch;
  gap: 30px;
  min-height: 130px;
  color: #f5deb3;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #fff8dc;
  background-color: rgba(210, 105, 30, 0.5);
  box-shadow: 0px 0px 10px #87ceeb;
}

.inputContainer label {
  padding: 2px 5px;
}

.inputContainer input {
  padding: 5px;
}

.inputContainer input:focus {
  outline: 1px solid #ffff00;
}

.update {
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.btn {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #4c0099;
  padding: 3px 7px;
  font-size: 16px;
  background-color: rgba(102, 255, 255, 0.5);
  border-radius: 3px;
  border: 2px solid #ffcc99;
}

.btn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 153, 0.5);
}

.btn:active {
  transform: scale(0.9);
}

.alert {
  background-color: #ffcccc;
  color: #ff4500;
  box-shadow: 1px 1px 15px rgba(255, 140, 0, 0.9);
  padding: 2px 10px;
  border-radius: 2px;
  position: absolute;
  top: 20px;
}

.message {
  background-color: #7fffd4;
  color: #006400;
  box-shadow: 0px 1px 5px rgba(0, 255, 0, 0.5);
  padding: 2px 10px;
  border-radius: 2px;
  position: absolute;
  top: 20px;
}

.btnContainer {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-direction: column;
}

.forgot {
  color: #66ffb2;
}

.link {
  font-size: 18px;
  color: #33ffff;
}

.link:hover {
  color: #ff9;
}

.alreadyText {
  color: #cf0;
}
